@import '../../../styles.less';

.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    // justify-content: space-around;
    // overflow: auto;
    .container-item {
        margin-top: 10px;
        overflow: auto;
        flex: 1;
        border: @border;
        display: flex;
        // .show-name {
        //     flex: none;
        // }
        .show {
            border: 5px solid black;
        }
    }
}
.container-header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: @text-color;
}   
h4 {
    margin:0;
    padding:0;
}