@import '../../../styles.less';

.nav-container {
    // padding: 5px;
    display: flex;
    // flex-flow: row;
    .brand {
        width: 123px;
        height: 49px;
        left: 60px;
        top: 20px;
        color: @text-color;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        flex: 1;
        cursor: pointer;
    }
    .search-box {
        align-self: auto;
        flex: 0 1 auto;
        margin-top: 10px;
        margin-left: 50%;
        width: 30vw;
        height: 32px;
        border:@border;
        input {
            height: 100%;
            width:100%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .nav-container {
        flex-flow: column;
        width: 100%;
        .search-box {
            margin-left: 0;
            width: 70%;
        }
    }
}